<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Document</title>
	<script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.2/??flexible_css.js,flexible.js"></script>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/index/css/anyOtherBusiness.css"/>
</head>
<body>
	<div class="main_failure">
		<div class="main_failure_header"></div>
		<div class="main_con">
			<div class="goUnder">FAlL</div>
			<p class="main_defeated">糟糕</p>
			<p class="main_defeated last">本次挑战失败了</p>
			<p class="main_defeatedtwo">失败原因：<span id="">由于队友中途退出</span></p>
			<p class="main_defeatedtwo lasttwo">不要灰心呦，再接再厉。加油！</p>
			<button id="affirm">好吧，我接受现实</button>
			<p class="main_defeatedtwo top">如果你觉得队友很Nice的话，</p>
			<p class="main_defeatedtwo">就和他要<span class="iphone">手机后六位</span>吧，</p>
			<p class="main_defeatedtwo">一起挑战一起飞。</p>
		</div>
	</div>
</body>
</html>