<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="__PUBLIC__/index/css/common.css" />
    <link rel="stylesheet" href="__PUBLIC__/index/css/share.css">
    <script src="__PUBLIC__/index/js/common.js"></script>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
</head>

<body>
    <div class="share-table">
        <div class="share-table-row">
            <div class="avatar"></div>
            <div class="info">
                <p class="name">名字</p>
                <p class="des">刚刚在七天挑战赛上完成了<br/>第2天挑战</p>
            </div>
        </div>
        <div class="share-table-row">
            <div class="progress">
                <p class="text">完成进度</p>
                <p class="number"><span>2/7</span>天</p>
            </div>
            <div class="today">
                <p class="text">今日执行</p>
                <p class="number"><span>100</span>分钟</p>
            </div>
        </div>
        <div class="share-table-row">
            <div class="slogan">好好学习，天天UP</div>
            <div class="qrcode"></div>
        </div>
        <div class="share-table-row ">
            <div class="share-text">分享到我的朋友圈</div>
            <div class="share-icon"></div>
        </div>
    </div>
    <script src="__PUBLIC__/index/js/share.js"></script>
</body>

</html>